[Unit]
ConditionPathExists=!/etc/initial-cluster.done

[Service]
Type=oneshot
RemainAfterExit=true

User=root
Group=root

ExecStart=/opt/initial-cluster.sh ${token} ${tag}
ExecStartPost=/bin/touch /etc/initial-cluster.done
