[Unit]
Description=Kubernetes API Server

Requires=hyperkube-download.service vultr-metadata.service apiserver.service
After=network.target hyperkube-download.service vultr-metadata.service apiserver.service

[Service]
EnvironmentFile=/run/vultr-metadata

ExecStart=/opt/kubernetes/server/bin/hyperkube scheduler \
    --address=$${LOCAL_IPV4} \
    --kubeconfig=/etc/kubernetes/tls/kubeconfig \
    --leader-elect=true \
    --leader-elect-resource-lock=configmaps \
    --feature-gates=PersistentLocalVolumes=true

Restart=on-failure
# Type=notify # hyperkube seems not to signal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
