[Service]
Type=simple

RemainAfterExit=true
Restart=on-failure
RestartSec=10
TimeoutStartSec=1h

ExecStartPre=/usr/bin/bash -c 'while true; do LOCAL_IPV4=$(curl -s http://169.254.169.254/v1.json | jq -r '"'"'.interfaces[] | select(."network-type" | contains("private")) | .ipv4.address'"'"'); if [ -n "$${LOCAL_IPV4}" ]; then break; fi; sleep 1; done; echo "LOCAL_IPV4=$${LOCAL_IPV4}" >/run/vultr-metadata'
ExecStartPre=/usr/bin/bash -c 'echo "PUBLIC_IPV4=$(curl -s http://169.254.169.254/meta-data/meta-data/public-ipv4)" >>/run/vultr-metadata'
ExecStartPre=/usr/bin/bash -c 'echo "HOSTNAME=$(curl -s http://169.254.169.254/meta-data/meta-data/hostname)" >>/run/vultr-metadata'
ExecStart=/usr/bin/echo "vultr metadata finished"

[Install]
WantedBy=multi-user.target
